@charset "utf-8";

// TODO: Add light/dark theme media queries.
:root {
  --foreground: #111111;
  --background: #f1f1f1;

  --gray: #e1e1e1;
  --light-gray: #efefef;

  --light-blue: #416e81;
  --dark-red: #814141;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

body {
  color: var(--foreground);
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  padding: 0 1em;
  width: 70ch;
}

@import "base";

@import "templates/header";
@import "templates/footer";
@import "templates/section";

@import "shortcodes/banner";

