.banner {
  background-color: #e8f4fd;
  border-radius: 4px;
  color: #0d3c61;
  font-weight: bold;
  margin: 1.5em -1em 0;
  padding: 0.5em 1em;

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}
