header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  margin: 0 -1em 0;
  padding: 0 1em;

  p {
    margin: 0;
    font-size: 1.5em;
    flex: 1;
  }

  nav ul {
    display: flex;
    gap: 1em;
    padding: .5em;
    margin: 0 auto;
    list-style-type: none;
  }
}
