<header>
  <p><strong>{{ config.title }}</strong></p>

  <nav>
    <ul>
      <li>
        <a href="/">/home</a>
      </li>
      <li>
        <a href="/guides">/guides</a>
      </li>
      <li>
        <a href="/about">/about</a>
      </li>
    </ul>
  </nav>
</header>
